# Exercício - Mini Projeto de Análise de Dados

Vamos fazer um exercício completo de pandas para um miniprojeto de análise de dados.

Esse exercício vai obrigar a gente a usar boa parte dos conhecimento de pandas e até de outros módulos que já aprendemos ao longo do curso.

### O que temos?

Temos os dados de 2019 de uma empresa de prestação de serviços. 

- CadastroFuncionarios
- CadastroClientes
- BaseServiçosPrestados

Obs1: Para ler arquivos csv, temos o read_csv<br>
Obs2: Para ler arquivos xlsx (arquivos em excel normais, que não são padrão csv), temos o read_excel

### O que queremos saber/fazer?

1. Valor Total da Folha Salarial -> Qual foi o gasto total com salários de funcionários pela empresa? <br>
    
    
    
2. Qual foi o faturamento da empresa?<br>
    
    
3. Qual o % de funcionários que já fechou algum contrato?<br>
   
    
4. Calcule o total de contratos que cada área da empresa já fechou


5. Calcule o total de funcionários por área


6. Qual o ticket médio mensal (faturamento médio mensal) dos contratos?<br>

### Importação de Módulos e Arquivos

In [9]:
import pandas as pd
import locale
locale.setlocale(locale.LC_ALL, 'pt_BR')
funcionarios_df = pd.read_csv(r'CadastroFuncionarios.csv', sep=';', decimal = ',')
clientes_df = pd.read_csv(r'CadastroClientes.csv', sep =';')
base_servicos = pd.read_excel(r'BaseServiçosPrestados.xlsx')
funcionarios_df = funcionarios_df.drop(columns= ['Estado Civil', 'Cargo'])

### Folha Salarial

In [10]:
funcionarios_df['Gasto Total Funcionario'] = funcionarios_df['Salario Base'] + funcionarios_df['Beneficios'] + funcionarios_df['Impostos']+funcionarios_df['VT']+funcionarios_df['VR']
print('O gasto total com funcionarios é de R${:,.2f}'.format(funcionarios_df['Gasto Total Funcionario'].sum()))

O gasto total com funcionarios é de R$2,717,493.22

### Faturamento Total da Empresa

In [11]:

faturamento = clientes_df.merge(base_servicos, on= 'ID Cliente')
faturamento.rename(columns = {'Tempo Total de Contrato (Meses)': 'Vigencia Contrato'}, inplace = True)
faturamento['Faturamento Contrato'] = faturamento['Valor Contrato Mensal'] * faturamento['Vigencia Contrato']

print('O faturamento total é de R${:,.2f}'.format(faturamento['Faturamento Contrato'].sum()))

O faturamento total é de R$5,519,160.00

### % de funcionários que fecharam contrato

In [12]:
display(funcionarios_df)
fecharam_contrato = len(base_servicos['ID Funcionário'].unique())
quantidade_funcionario= len(funcionarios_df['ID Funcionário'])
print('{:.1%} fecharam contrato'.format(fecharam_contrato / quantidade_funcionario))

,ID Funcionário,Nome Completo,Salario Base,Impostos,Beneficios,VT,VR,Area,Gasto Total Funcionario
0,1,Gabriel Mesquita,21910,10955.0,4382.0,242,719.04,Operações,38208.04
1,2,João Haddad,5404,2702.0,1080.8,154,574.56,Logística,9915.36
2,3,Amanda Marques Ribeiro,16066,8033.0,3213.2,154,729.12,Administrativo,28195.32
3,4,Guilherme Nunez,21305,10652.5,4261.0,220,524.16,Administrativo,36962.66
4,5,Adelino Gomes,5098,2549.0,1019.6,176,725.76,Administrativo,9568.36
...,...,...,...,...,...,...,...,...,...
109,143,Renan Scharnhorst Ott,10793,5396.5,2158.6,242,514.08,Logística,19104.18
110,144,Lucas Brum Pereira,4048,2024.0,809.6,198,796.32,Comercial,7875.92
111,148,Caio Stellet,24596,12298.0,4919.2,242,561.12,Administrativo,42616.32
112,149,Fernanda Rocha,5078,2539.0,1015.6,308,665.28,Comercial,9605.88
113,150,Eduardo Brum,15939,7969.5,3187.8,220,769.44,Comercial,28085.74

86.8% fecharam contrato

### Total de contratos que cada área da empresa já fechou

In [13]:
total_contratos = funcionarios_df[['ID Funcionário', 'Area']].merge(base_servicos[['ID Funcionário']], on='ID Funcionário')

total_contratos_area = total_contratos['Area'].value_counts()
display(total_contratos_area)

     ID Funcionário            Area
0                 1       Operações
1                 3  Administrativo
2                 3  Administrativo
3                 4  Administrativo
4                 4  Administrativo
..              ...             ...
232             144       Comercial
233             148  Administrativo
234             148  Administrativo
235             148  Administrativo
236             150       Comercial

[237 rows x 2 columns]

Administrativo    63
Operações         48
Comercial         44
Financeiro        42
Logística         40
Name: Area, dtype: int64

### Total de funcionários por área

In [14]:
total_funcionarios_area = funcionarios_df['Area'].value_counts()
display(total_funcionarios_area)

Administrativo    26
Comercial         26
Operações         23
Logística         21
Financeiro        18
Name: Area, dtype: int64

### Ticket médio mensal

In [15]:
ticket_mensal = clientes_df['Valor Contrato Mensal'].mean()
print('Ticket médio mensal: R${:,.2f}'.format(ticket_mensal))

Ticket médio mensal: R$2,502.56